.home{
    flex: auto;
    display: block;
    
}
.allcountriesbutton{
    background-color: green;
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-radius: 10px;

}
.homehead{
    background-color: rgba(61, 153, 192, 0.825);
    padding-top: 5px;
    padding-bottom: 5px;

}

.down{
    top: 0;
    background-color: rgb(0, 2, 113);
    display: flex;
    justify-content:space-between;   
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 1rem 0;
    height:0ch;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    height:max-content;
}

.nocontries{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height:max-content;
    padding: 20px;
    color: black;
}
